{:deps
 {:aliases [:dev]}

 :nrepl
 {:port 3434}

 :builds
 {:devcards {:target     :browser
             :output-dir "resources/public/js/devcards"
             :asset-path "/js/devcards"
             :compiler-options {:devcards true}

             :modules    {:devcards {:entries [dv.cljs-emotion.devcards]
                                     :init-fn dv.cljs-emotion.devcards/main}}

             :devtools   {:http-port        4001
                          :http-root        "resources/public"
                          :push-state/index "devcards.html"
                          :after-load       dv.cljs-emotion.devcards/main}}}}
